Bottleneck
click
colorama
dnspython==1.16.0
et-xmlfile==1.1.0
Flask
Flask-PyMongo
itsdangerous
Jinja2
joblib
MarkupSafe
numexpr
numpy
flask-cors
openpyxl==3.0.10
pandas
python-constraint==1.4.0
python-dateutil
pytz
scikit-learn
scipy==1.11.4
six
threadpoolctl
tzdata
Werkzeug